@font-face {
	font-family: system;
	font-style: normal;
	font-weight: 300;
	src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

@font-face {
	font-family: system;
	font-style: bold;
	font-weight: 700;
	src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

body {
	font-family: "system";
	padding: 4rem;
	color: #101010;
	background-color: #fafafa;
}

section {
	width: 30rem;
	display: flex;
	padding: 2rem;
	/* box-shadow: 0 .2rem 1rem #ddd, 0 .5rem 1rem #ddd; */
	overflow: hidden;
	animation: 1s cubic-bezier(0.19, 1, 0.22, 1) fadeIn forwards;
}

section>* {
	flex-basis: 100%;
}

h1 {
	font-weight: 400;
	font-size: 1.125rem;
}

h2 {
	font-weight: 700;
	font-size: 3rem;
}


.underline::before {
	--line-width: 66%;
	background-color: currentColor;
	content: '';
	display: block;
	height: 1px;
	opacity: .3;
	width: 0;
	animation: 1s cubic-bezier(0.19, 1, 0.22, 1) underline forwards .6s;
}


@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes underline {
	to {
		width: var(--line-width);
	}
}


/* [animate] Initial state */

[animate-all="slide-in"]>* {
	opacity: 0;
	transform: translateX(-66%);
}